<ion-view>  
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">
            Procuradoria Mobile
        </h1>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-if="isLogin">
                <a href="#/app/processos" class="button button-full icon-left ion-briefcase">Processos</a>
            </ion-item>
             <ion-item ng-if="!isLogin">
                <a href="#/config" class="button button-full icon-left ion-gear-a">Opções</a>
            </ion-item>
             <ion-item>
                <a ng-if="!isLogin" ng-click="login()" class="button button-full icon-left ion-person">Login</a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>