<ion-view>  
    <ion-header-bar class="bar bar-header bar-balanced">
        <h1 class="title">
            Mensagen
        </h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Destinatario" ng-model="dest">
            </label>
            <label class="item item-input">
                <textarea placeholder="Mensagem" ng-model="body"></textarea>
            </label>
        </div>
        <button ng-click="send(dest,body)" class="button button-full button-positive">
            Enviar
        </button>
    </ion-content>
</ion-view>